body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;

}

.container {
    background-color: #fdfaff; /* Light purple background color */
    background-size: 100px 100px, 150px 150px, 200px 200px;
    background-position: top left, center center, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    position: relative;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 1rem;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdfaff;
    width: calc(100% - 4rem); /* Adjust width to match .container padding */
    padding: 1.85rem 2rem; /* Adjust padding to match .container */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 1200px; /* Match the max-width of .container */
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;

}

nav ul li a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

nav ul li a:hover {
    
    background-color: #94ebfd;
    border-radius: 10px;
}

main {
    padding: 1rem;
}

footer {
    text-align: left;
    padding: 1rem;
}



.dashboard-grid {
    display: flex;
    gap: 1rem;
    position: relative;
}

.appointments {
    position: relative;
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30%;
    margin-right: 1rem;
    position: relative;
    z-index: 1;
}

.anamnesis {
    position: relative;
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
}

.patient-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.patient-link:hover {
    color: darkblue;
}