<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Med-Core{% endblock %}</title>
    <!-- Include any CSS files here -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  {% block scripts %}
  <!-- Include any JS files here -->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  {% endblock %}
  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            {% if session.get('logged_in') %} {% if session.get('role') ==
            'admin' %}
            <li>
              <a href="{{ url_for('clinic_management') }}">Manage Clinics</a>
            </li>
            <li>
              <a href="{{ url_for('doctor_management') }}">Manage Doctors</a>
            </li>
            <li>
              <a href="{{ url_for('patient_management') }}">Manage Patients</a>
            </li>
            {% elif session.get('role') == 'doctor' %}
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>

            {% elif session.get('role') == 'secretary' %}
            <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            <li>
              <a href="{{ url_for('patient_management') }}">Manage Patients</a>
            </li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </nav>

        <!-- Future user-based menu items -->
        <!-- TODO: Uncomment when session logic is implemented -->
        {# {% if session.get('logged_in') %} #}
        <!-- Add user-specific menu options when user is logged in -->
        {# {% if user %} #}
        <!-- Show doctor-specific menu options -->
        {# {% if user.is_doctor %} #} {# {% endif %} #}
        <!-- Show administrative-specific menu options -->
        {# {% if user.is_admistrative %} #} {# {% endif %} #}
        <!-- Show secretaries-specific menu options -->
        {# {% if user.is_secretary %} #} {# {% endif %} #}
        <!-- Close user check -->
        {# {% endif %} #} {# {% endif %} #}
        <!-- Add more menu items as needed -->
      </header>
      <main>
        {% block content %}
        <!-- Content from child templates will be injected here -->
        <h2>About Us</h2>
        <p>
          Welcome to our EHR system. Here you can find information about our
          services.
        </p>
        {% endblock %}
      </main>
      <footer>
        <p>&copy; 2024 Med-Core</p>
      </footer>
    </div>
  </body>
</html>
