<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Med-Core{% endblock %}</title>
    <!-- Include any CSS files here -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('register') }}">User register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                            
                <!-- Future user-based menu items -->

                <!-- Future user-based menu items -->

                <!-- TODO: Uncomment when session logic is implemented -->
                {# {% if session.get('logged_in') %} #}

                <!-- Add user-specific menu options when user is logged in -->
                {# {% if user %} #}

                    <!-- Show the logout button when user is logged in -->
                    {# <li><a href="{{ url_for('logout') }}">Logout</a></li> #}

                    <!-- Show doctor-specific menu options -->
                    {# {% if user.is_doctor %} #}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    {# {% endif %} #}

                    <!-- Show administrative-specific menu options -->
                    {# {% if user.is_admistrative %} #}
                    <li><a href="{{ url_for('patient_management') }}">Patient Management</a></li>
                    <li><a href="{{ url_for('clinic_management') }}">Clinic Management</a></li>
                    {# {% endif %} #}

                    <!-- Show secretaries-specific menu options -->
                    {# {% if user.is_secretary %} #}
                    <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
                    {# {% endif %} #}

                <!-- Close user check -->
                {# {% endif %} #}

                {# {% endif %} #}

<!-- Add more menu items as needed -->


            
                
            </ul>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Med-Core</p>
    </footer>
</body>
</html>